.main{
    font-family: Arial;
}


h1{
    font-family: 'Courier New', Courier, monospace;
}


body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.flex-container{
    display: flex;
    flex-wrap: wrap;
}


#leftDiv{
    background-color: #A27B5C;
    width: 50%;
    height: 40em;
    position: relative;
    flex: 0 0 50%;
    
}

#rightDiv{
    background-color: #DCD7C9;
    width: 50%;
    height: 40em;
    position: relative;
    flex: 0 0 50%;

}

#lefth1{
    color: #DCD7C9;
    text-align: right;
    font-size: 4em;

}

#righth1{
    color: #A27B5C;
    font-size: 4em;

}

#myBtn{
    position: relative;
    top: -15em;
    left: 23em;
    border-radius: 20%;
    font-size: 33px;
    background-color: #DCD7C9;
    border: 0;
    color: #3F4E4F;
}

#firstpleft{
    font-size: 34px;
    color: #DCD7C9;
    text-align: right;
    position: relative;
    right: 0.2%;
}

#firstpright{
    font-size: 34px;
    color: #A27B5C;
    position: relative;
    left: 0.2%;
}

#secondpleft{
    font-size: 25px;
    color: #DCD7C9;
    text-align: right;
    position: relative;
    right: 0.2%;
}

#secondpright{
    font-size: 25px;
    color: #A27B5C;
    position: relative;
    left: 0.2%;
}

#pythonicon{
    color: #DCD7C9;
    font-size: 7.9em;
    position: relative;
    left: 37%;
}

.leftprojectTitle{
    color: #DCD7C9;
    position: relative;
    left: 29%;
}

#jsicon{
    color: #A27B5C;
    font-size: 8em;
    position: relative;
    left: 375px;

}

.rightprojectTitle{
    color: #A27B5C;
    position: relative;
    text-align: center;
    bottom: 1px;
}

#pythonDesc{
    text-align: center;
    color: #DCD7C9;
    font-size: 1.5em;

}

#jstext{
    text-align: center;
    color: #A27B5C;
    font-size: 1.5em;
    position: relative;
    bottom: 2px;
}

#leftListDiv{
    background-color: #A27B5C;
    width: 50%;
    height: 55em;
    position: relative;
    flex: 0 0 50%;
    
}

#leftlist{
    position: relative;
    top: 3.5em;
    text-align: center;
    color: #DCD7C9;
    font-size: 2em;
    padding-bottom: 100px;
}


#rightListDiv{
    background-color: #DCD7C9;
    width: 50%;
    height: 55em;
    position: relative;
    flex: 0 0 50%;

}

#rightlist{
    color: #A27B5C;
    font-size: 2em;
    text-align: center;
}

#leftPointsDiv{
    position: relative;
}

#rightPointsDiv{
    position: relative;
}


.right-aligned-list {
    list-style-position: inside; 
    position: relative;
    right: 30px;
}

#leftcvh1{
    color: #DCD7C9;
    text-align: right;
    font-size: 4em;
}

#rightcvh1{
    color: #A27B5C;
    font-size: 4em;
}

#firstitemleft{
    color: #DCD7C9;
    text-align: right;
    font-size: 4em;

}

#lefth1list{
    width: 6em;
    font-size: 3em;
    position: relative;
    left: 15%;
    
}

#mediv{
    background-color: #DCD7C9;
    width: 50%;
    height: 20em;
    position: relative;
    flex: 0 0 50%;
}

#contactdiv{
    background-color: #A27B5C;
    width: 50%;
    height: 20em;
    position: relative;
    flex: 0 0 50%;
    
}

hr{
    width: 69%;
    margin: 3em auto;
    color: #2C3639;

}

#contacth1{
    text-align: right;
    font-size: 3em;
    color: #DCD7C9;
}

#meh1{
    font-size: 3em;
    color: #A27B5C;
}

#socialmedialeft{
    text-align: center;
    display: flex;
}
#socialmediaright{
    text-align: left;
    display: flex;
    
}

#socialmedialeft li{
    list-style: none;
    margin: 0 160px;
    font-size: 70px;
    color: #DCD7C9;
    text-decoration: none
}

#socialmediaright li{
    list-style: none;
    margin: 0 160px;
    font-size: 70px;
    color: #A27B5C;
    text-decoration: none
}

#twitter:visited{
    color:#A27B5C;
}
#ig:visited{
    color:#A27B5C;
}
#email:visited{
    color:#DCD7C9;
}
#linkedin:visited{
    color:#DCD7C9;
}

#email:hover{
    color: white;
}
#linkedin:hover{
    color: white;
}
#twitter:hover{
    color: white;
}
#ig:hover{
    color: white;
}
